<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.barsegyan.dao.QuestionDaoCsv">
        <constructor-arg name="csvFilePath" value="questions.csv" />
    </bean>

    <bean id="questionService" class="ru.otus.spring.barsegyan.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao" />
    </bean>

</beans>
